# ignore files holing tokens and secrets
catmon.ini
client_secrets.json
keyfile.p12

# ignore other non-project files
*.pyc
*.sh
*.log*
*.jpg
*.tmp
*.old
scratch.ipynb
.ipynb_checkpoints/

# ignore archive
archive/
